@font-face {
    font-family: 'Pokemon';
    src: url('../../assets/fonts/Pokemon\ Classic\ Regular.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.card{
    width: min-content;
    display: flex;
    gap : 20px;

    padding: 10px;
}

.allenatore{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: min-content;
}

.allenatore img {
    border-radius: 10px;
}

.allenatore p {
    margin: 0px;
    margin-bottom: 10px;
    font-family: 'Pokemon';
}

.other{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listaSquadra{
    display: flex;
    align-items: center;

    gap: 10px;
}

.allenatore-clown{
    height: 100%;
}

.badgesContainer{
    display: flex;
    gap: 10px;

    justify-content: space-evenly;
}

.badge{
    height: 50px;
    width: 50px;
}

.GamplaySaveData{
    display: flex;
    margin: 0px 100px;
    gap: 10px;
}

.tagContenitore p {
    padding: .5rem;
    border-radius: 5px;
    background-color: #fff4;
}

.infografica{
    width: min-content;
    font-family: 'pokemon';
}

.graficaGioco{
    display: flex;
    justify-content: center;
}

.tagContenitore{
    display: flex;
    justify-content: space-evenly;
}