.scheda-partita{
    display: flex;
    flex-direction: column;
    width: 45rem;
    border-radius: 1rem;
    background-color: blue;
    margin-bottom: 2vh;

}
.scheda-partita-modifica{
    display: flex;
    flex-direction: column;

}